<!-- Basic boilerplate for footer for every single page which integrates with "boilerplate.ejs"-->

<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">No &copy; 2021 issues.</span>
    </div>
</footer>